@model biblioteca.Models.Employee

@{
    ViewData["Title"] = "Editar Funcionário";
}

<div class="body">
    <h4>Edição de Funcionário</h4>
    <hr />
    <form asp-action="UpdateEmployee" id="formCad">
        <div class="col-md-8">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeID" class="form-control" />
            <div class="form-group">
                Nome de Funcionário
                <input asp-for="Name" class="form-control" name="name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                Idade
                <input asp-for="Age" class="form-control" name="age" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                CPF
                <input asp-for="Cpf" class="form-control" name="cpf" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                e-mail
                <input asp-for="Email" class="form-control" name="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <input type="submit" value="Confirmar" class="btn btn-outline-primary" onclick="" />
        </div>
        <br />
        <a asp-action="SelectAllEmployees" class="btn btn-outline-warning"> Voltar <img alt="Voltar" width="20" height="20" src="~/img/icon/icons8-a-esquerda-dentro-de-um-circulo-100.png" /></a>
    </form>
</div>