@model IEnumerable<biblioteca.Models.Booking>

@{
    ViewData["Title"] = "Lista de Reservas";
}

    <div class="body">
        <h4>Reservas</h4>
        <hr />

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Livro
                    </th>
                    <th>
                        Usuário
                    </th>
                    <th>
                        Ações
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Book.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Name)
                        </td>
                        <td>
                            <a asp-action="UpdateBooking" asp-route-id="@item.BookingID"><img alt="Editar" src="~/img/icon/icons8-editar-96.png" width="30" height="30" /></a> |
                            <a asp-action="DeleteBooking" asp-route-id="@item.BookingID"><img alt="Excluir" src="~/img/icon/icons8-apagar-para-sempre-96.png" width="30" height="30" /></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />

        <div class="col-md-10">
            <a asp-action="CreateBooking" class="btn btn-outline-success">Fazer Nova Reserva <img alt="Fazer Reserva" src="~/img/icon/icons8-adicionar-pasta-100.png" width="20" height="20" /></a>
        </div>
    </div>