@model biblioteca.Models.User

@{
    ViewData["Title"] = "Editar Usuário";
}

    <div class="body">
        <h4>Edição de Usuário</h4>
        <hr />
        <form asp-action="UpdateUser" id="formCad">
            <div class="col-md-8">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="UserID" class="form-control" />
                <div class="form-group">
                    Nome de Usuário
                    <input asp-for="Name" class="form-control" name="name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    Idade
                    <input asp-for="Age" class="form-control" name="age" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <div class="form-group">
                    CPF
                    <input asp-for="Cpf" class="form-control" name="cpf" />
                    <span asp-validation-for="Cpf" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    e-mail
                    <input asp-for="Email" class="form-control" name="email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2">
                <input type="submit" value="Confirmar" class="btn btn-outline-primary" onclick="return validateUser()" />
            </div>
            <br />
            <a asp-action="SelectAllUsers" class="btn btn-outline-warning"> Voltar <img alt="Voltar" width="20" height="20" src="~/img/icon/icons8-a-esquerda-dentro-de-um-circulo-100.png" /></a>
        </form>
    </div>